@font-face {
  font-family: LemonMilk;
  src: url("../fonts/LemonMilk.otf") format("opentype");
}
html, body, {
  width: 100%;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
}
/* BODY # is for classes, . is for ids*/
.p1 {
    margin: 0px;
    text-align: center;
    z-index: 1;
    line-height: 130px;
    font-family: "LemonMilk", sans-serif;
}

.inside-page-hero {
  position: relative;
  z-index: 1;
}

.row{
  table-layout: fixed;
  width: 100%;
}

.column{
  width: 50%;
  font-family: 'LemonMilk', sans-serif;
  font-size: 145px;
  color: black;
  float:left;
}

.column1{
  margin: 100px;
  font-family: 'LemonMilk', sans-serif;
  font-size: 145px;
  color: black;
  float:left;
}

.pageheader{
  font-family: "LemonMilk", sans-serif;
  font-size:200px;
  color: red;
}

.th {
  font-weight: normal;
}

#home-external-nav {
  line-height: 100px;
  font-size: 30px;
}

#headshot {
  width: 400px;
  height: auto;
}

canvas {
  display: block;
  animation: fadein 1s;
  user-select: none;
}
